.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
  }
  
  .csv-result-table {
    margin: 20%;
    border: 1px solid #73AD21;
    margin-top: 5%;
  
  }
  .header {
    text-align: center;
  }

  .no-of-students {
    margin: 5%;
    border: 1px solid #73AD21;
    margin-right: 12rem;
  }
  
  table, th, td {
    border: 1px solid black;
  }